<p>
    Hi {{ member.gamer.publishedName }},
</p>
<p>
    You have been invited by team {{ member.team.name }} to compete in the tournament <a href="{{ member.cup.linkView }}">{{ member.cup.name }}</a>.
</p>
<p>
    To accept, please <a href="{{ member.cup.linkView }}">visit the tournament page</a>. Please note you have to accept to participate.
</p>
<p>
    If you have any questions regarding this invitation, please let us know.
</p>
<p>
    With kind regards,<br>
       team tournament.today
</p>