<p>
    Hi,
</p>
<p>
    You have been invited by {{ invite.gamer.publishedName }} to become {{ invite.title.title }} in the clan <a href="{{ invite.clan.linkView }}">{{ invite.clan.name }}</a>.
</p>
<p>
    To accept, please <a href="{{ route('sign-up', {'invite': invite.token}) }}">sign up</a> or <a href="{{ route('Clan@useInvite', {'token': invite.token}) }}">add to your account</a>.
</p>
<p>
    If you have any questions regarding this invitation, please let us know.
</p>
<p>
    With kind regards,<br>
       team tournament.today
</p>